.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1950px;
  margin: 0 auto;
  padding: 10px 20px;
  background-color: black;
  color: white;
  box-sizing: border-box;
}

.header-left,
.header-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header-left {
  flex: 1;
  justify-content: flex-start;
}

.header-right {
  flex: 1;
  justify-content: flex-end;
}

.header-logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.header-logo {
  height: 75px;
  width: auto;
}

.header-form {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header-search-input {
  padding: 8px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  background-color: #777;
  color: aliceblue;
}

.header-search-button {
  padding: 8px 16px;
  background-color: #ff0000;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.header-search-button:hover {
  background-color: #e60000;
}

button {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 19px;
  font-weight: bold;
  padding: 8px 16px;
  transition: color 0.3s ease;
}

button:hover {
  color: #ff0000;
}

@media (max-width: 768px) {
  .header-container {
    flex-direction: column;
    align-items: center;
  }
  .header-left,
  .header-right {
    justify-content: center;
  }
  .header-right form {
    width: 100%;
    margin-top: 10px;
  }
}

body {
  background-color: black;
  color: white;
  font-family: "Roboto Condensed", sans-serif;
  box-sizing: border-box;
}

/* CHARACTER */
.character-container {
  max-width: 1800px;
  margin: 0 auto;
  padding: 20px;
}

.gif-container {
  display: flex;
  justify-content: center;
  padding-top: 60px;
}
.gif-container > img {
  width: 1100px;
}

.comic-slide {
  padding-top: 160px;
}

.slick-slide {
  margin-right: 15px;
}

.comic-image {
  height: auto;
}

.comic-slide h3 {
  font-size: 20px;
  font-weight: bold;
  text-align: justify;
  padding-bottom: 15px;
}
.character-card {
  display: flex;

  justify-content: center;
}

.card-container {
  cursor: pointer;
  width: 280px;
  height: auto;
  margin: 10px;
  box-shadow: 1px 2px 7px grey;
  border-radius: 8px;
  overflow: hidden;
}

.card-avatar {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.main-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 16px;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  color: white;
}

.card {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 16px;
  overflow: hidden;
  width: 250px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}
.more-info {
  text-decoration: none;
  color: #8c7840;
  font-weight: bold;
}
.card-content {
  padding: 16px;
}

.card h2 {
  font-size: 22px;
  color: black;
}

.card p {
  color: #555;
  padding-top: 15px;
  font-size: 18px;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.pagination {
  display: flex;
  align-items: end;
  margin: 16px;
}

.pagination button {
  background-color: #ff0000;
  border: none;
  color: white;
  padding: 8px 12px;
  margin: 0 8px;
  cursor: pointer;
  border-radius: 4px;
}

.pagination span {
  font-size: 30px;
}

.pagination button:disabled {
  background-color: #ccc;
}

.comics-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  padding: 10px;
  gap: 18px;
}

.comic-card {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 16px;
  overflow: hidden;
  width: 200px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  text-align: center;
}

.comic-card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.comic-card-content {
  padding: 16px;
}

.comic-card h2 {
  font-size: 18px;
  color: #333;
  margin: 10px 0;
}

.comic-card p {
  color: #777;
  font-size: 14px;
}

.comic-card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}
.image-container {
  width: 100%;
  overflow: hidden;
  margin-bottom: 20px;
}

.header-image {
  width: 100%;
  height: 600px;
  display: block;
  object-fit: cover;
}

.home-container {
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.thor-gif {
  width: 1200px;
  height: auto;
}

.f {
  background-color: #030303;
}
.enter {
  width: 300px;
}
